@layout-width: 1100px;
@submenu-width: 200px;

// Typography
@body-font: Arial, sans-serif;
@heading-font: Arial, sans-serif;

// Primary theme color
@scheme: #008d71;

@black: #000;
@white: #fff;
@body-background: #eee;
@grey: #ccc;
@blue: #009eca;
@green: #7CC576;
@red: #f7827e;
@dark: #333;
@light: #ddd;
@orange:#f6ba70;
@lightblue:#58c5c0;
@darkblue:#42555c;

.rounded (@radius:2px) {
	-webkit-border-radius: @radius;
 	-moz-border-radius: @radius;
	-ms-border-radius: @radius;
	-o-border-radius: @radius;
	border-radius: @radius;
}
.transition (@transition: all 0.2s ease-in-out 0s)  {
	-webkit-transition: @transition;
	-moz-transition: @transition;
	-o-transition: @transition;
  -ms-transition: @transition;
	transition: @transition;
}
.scale (@transform: scale(1.2))  {
  -webkit-transform: @transform;
  -moz-transform: @transform;
  -o-transform: @transform;
  -ms-transform: @transform;
  transform: @transform;
}
.opacity(@opacity: 0.5) {
  -moz-opacity: @opacity;
  -khtml-opacity: @opacity;
  -webkit-opacity: @opacity;
  opacity: @opacity;
  @opperc: @opacity * 100;
  -ms-filter: ~"progid:DXImageTransform.Microsoft.Alpha(opacity=@{opperc})";
  filter: ~"alpha(opacity=@{opperc})";
}
.box-shadow(@arguments:0 2px 3px rgba(0, 0, 0, 0.05)) {
  -webkit-box-shadow: @arguments;
  -moz-box-shadow: @arguments;
  box-shadow: @arguments;
}
.text-shadow (@text-shadow:0 2px 2px rgba(0,0,0,.3)){
  text-shadow: @text-shadow;
}
