<!DOCTYPE html>
<html lang="de">
  <head>
    <!--META-->
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <meta
      name="description"
      content="{{ description or 'Humanus – Praxis für Osteopathie und Physiotherapie Holzminden, Praxis Osteopathie und Physiotherapie Weserbergland, Niedersachsen' }}"
    />
    <meta
      name="keywords"
      content="Osteopathie, Physiotherapie, ganzheitliche Behandlung, Schmerzen, Praxis in Holzminden, Niedersachsen,Massage Holzminden, manuelle Lymphdrainage, Kinesio-Taping"
    />

    <title>
      {{ title or 'Humanus – Praxis für Osteopathie und Physiotherapie Holzminden, Praxis Osteopathie und Physiotherapie Weserbergland, Niedersachsen' }}
    </title>
    <link rel="shortcut icon" href="/assets/img/favico.ico" />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="114x114"
      href="/assets/img/apple-icon-114x114px.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="144x144"
      href="/assets/img/apple-icon-144x144px.png"
    />
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/shortcode.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/woocommerce.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/responsive.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/assets/3rd/font-awesome/font-awesome.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/assets/3rd/pretty-photo/pretty-photo.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/assets/3rd/layerslider/css/layerslider.css"
    />

    <!--GOOGLE WEBFONT-->
    {# <link href="/assets/css/hide.css" rel="stylesheet" type="text/css" /> #}
    <!--GOOGLE WEBFONT-->
  </head>
  <body>
    {% include "partials/header.njk" %}
    
    {{ content | safe }}

    {% include "partials/footer.njk" %}

    {% include "partials/scripts.njk" %}
  </body>
</html>
