---
layout: layouts/base.njk
title: Humanus – Praxis für Osteopathie und Physiotherapie Holzminden
permalink: /
layerslider: true
---

<div id="tm-page-body">
  <div id="tm-template-default-fullwidth" class="tm-container">
    <div class="page-content">
      <div class="page-content-inner tm-content">
        {% include "partials/layerslider.njk" %} {% include
        "partials/home-content.njk" %}
      </div>
      <!--page-content-->
    </div>
    <!--tm-template-->
  </div>
  <!--tm-page-body-default-box-->
</div>
