<footer>
  <div class="tm-wrap tm-table">
    <div class="copyright">
      <p>© Copyright - 2026 humanus | Osteopathie & Physiotherapie</p>
    </div>
  </div>
</footer>

<div id="loginmodal" style="display: none">
  <div class="header-line-bottom">
    <h3 class="tm-title">User Login</h3>
  </div>
  <form id="loginform" name="loginform" method="post">
    <p>
      <label for="user_login"
        >Username<br />
        <input
          type="text"
          size="20"
          value=""
          class="input"
          id="user_login"
          name="log"
      /></label>
    </p>
    <p>
      <label for="user_pass"
        >Password<br />
        <input
          type="password"
          size="20"
          value=""
          class="input"
          id="user_pass"
          name="pwd"
      /></label>
    </p>

    <p class="submit">
      <input
        type="submit"
        value="Log In"
        class="tm-btn hidemodal"
        id="wp-submit"
        name="wp-submit"
      />
    </p>
  </form>
</div>

<!-- Go to top -->
<a href="#" id="tm-gotop">
  <i class="fa fa-chevron-up"></i>
</a>
