<header>
  <div id="tm-header-nav" class="tm-menu-style1 tm-sticky-menu">
    <div class="tm-wrap tm-table">
      <nav class="tm-nav">
        <ul class="tm-menu tm-menu-simple l_tinynav1">
          <a href="/"
            ><img
              style="padding: 10px 210px 10px 10px"
              alt="Logo"
              src="/assets/img/logo.jpg"
          /></a>
          <li class="{% if page.url == '/' %}current-menu-item {% endif %}parent">
            <a href="/">Home</a>
          </li>
          <li class="{% if page.url == '/behandlungen' %}current-menu-item {% endif %}parent">
            <a href="/behandlungen">Behandlungen</a>
          </li>
          <li class="{% if page.url == '/yoga' %}current-menu-item {% endif %}parent">
            <a href="/yoga">Yoga</a>
          </li>
          <li class="{% if page.url == '/praxis' or page.url == '/kilianbegoin' or page.url == '/joachimtoelle' or page.url == '/dominiquemakris' or page.url == '/georgroeske' %}current-menu-item {% endif %}parent">
            <a href="/praxis">Praxisgemeinschaft</a>
            <ul class="sub-menu">
              <li>
                <a href="/praxis">Praxis humanus</a>
              </li>
              <li>
                <a href="/kilianbegoin">Kilian Begoin</a>
              </li>
              <li>
                <a href="/joachimtoelle">Joachim Tölle</a>
              </li>
              <li>
                <a href="/dominiquemakris">Dominique Makris-Fleer</a>
              </li>
              <li>
                <a href="/georgroeske">Georg Röske</a>
              </li>
            </ul>
          </li>
          <li class="{% if page.url == '/kontakt' %}current-menu-item {% endif %}parent">
            <a href="/kontakt">Kontakt</a>
          </li>
        </ul>
      </nav>
      <a class="mobile-logo" href="/"
            ><img
              alt="Logo"
              src="/assets/img/logo.jpg"
          />
        </a>
    </div>
  </div>
  <div style="height: 104px; display: none"></div>

</header>
