<!-- Patient information section -->
<div class="tm-row" style="padding: 50px 0; text-align: center; background: #f4f4f4;">
  <div class="tm-wrap" style="max-width: 800px;">
        <h2 class="tm-title">Anamnesebogen</h2>
    <p style="line-height: 24px;">
      Liebe Patientinnen und Patienten,
bitte bringen Sie zu Ihrem ersten Termin in unserer Praxis den ausgefüllten Anamnesebogen mit. So können wir wertvolle Zeit bei der Erstaufnahme sparen. Sollte dies nicht möglich sein, können Sie den Bogen selbstverständlich auch vor Ort ausfüllen.
    </p>
    <p>
      <a style="font-size: 18px; text-decoration: underline; font-weight: bold;" href="/assets/Screeningbogen.pdf" target="_blank">Anamnesebogen (PDF)</a>
    </p>
  </div>
</div>

<!-- Service blocks -->

<div class="tm-row" style="padding: 50px 0 70px">
  <div class="tm-wrap header-blocks">
    <div class="one-fourth">
      <div style="text-align: center">
        <h3 class="tm-title">Osteopathie</h3>
        <p>
          Ein Osteopath behandelt nur mit Hilfe seiner Hände und dem
          Wissen über Anatomie und Physiologie den Menschen und möchte
          so die selbstregulierenden Mechanismen wieder her stellen.
        </p>
      </div>
    </div>
    <div class="one-fourth">
      <div style="text-align: center">
        <h3 class="tm-title">Physiotherapie</h3>
        <p>
          Die heutige Physiotherapie (früher auch als Krankengymnastik
          bekannt) umfasst die Krankengymnastik, Massagen,
          Wärmeanwendungen und vieles mehr.
        </p>
      </div>
    </div>
    <div class="one-fourth">
      <div style="text-align: center">
        <h3 class="tm-title">Yoga</h3>
        <p>
          Yoga ist viel mehr als ein Trend. Hinter dem Begriff Yoga
          versteckt sich für jeden, der Yoga praktiziert, eine
          individuelle Wahrheit, einen ganz eigener Weg.
        </p>
      </div>
    </div>
    <div class="one-fourth last">
      <div style="text-align: center">
        <h3 class="tm-title">Psychotherapie</h3>
        <p>
          Die Psychotherapie hilft Ihnen wenn Sie in einer schwierigen
          Lebenssituation sind und Begleitung und Unterstützung
          suchen. Jeder Weg beginnt mit dem ersten Schritt… Wir können
          Ihnen mithilfe einer Psychotherapie helfen.
        </p>
      </div>
    </div>
  </div>
</div>

<!-- Promo section with parallax -->
<div class="tm-row">
  <div
    class="tm-parallax"
    style="
      background-image: url(/assets/img/pattern.jpg);
      background-repeat: no-repeat;
    "
    data-speed="4"
    data-type="background"
  >
    <div class="tm-parallax-inner">
      <div class="tm-wrap">
        <div class="tm-promobox-group column-2">
          <div class="box" style="padding: 0 50px"></div>
          <div
            class="box"
            style="
              background: rgba(151, 128, 102, 0.9);
              padding: 50px;
              background-repeat: no-repeat;
            "
          >
            <div style="text-align: left">
              <h2 style="margin: 10px 0px 20px 0px; color: #fff">
                Unsere Praxis
              </h2>

              <h3
                style="
                  font-family: Karma, serif;
                  font-size: 2em;
                  color: #fbf6ab;
                "
              >
                In guten Händen
              </h3>
              <br />
              <p>
                Praxis Humanus – Humanus, steht für die respektvolle
                und ganzheitliche Philosophie unserer Osteopathie und
                Physiotherapie Praxis im schönen Weserbergland! Seit
                Oktober 2014 ist unser Team für Sie da. Sprechen Sie
                uns an, wenn Sie einen Termin vereinbaren möchten.
                <br />Wir freuen uns auf Sie!<br /><br />
                <img src="/assets/img/phone.png" />0 5531/700 344<br />
                email: info@praxis-humanus.de<br />
              </p>
            </div>
            <div id="tm-portfolio" class="tm-portfolio-classic">
              <div class="tm-content tm-col-2"></div>
            </div>
            <div class="">
              <a
                style="margin: 10px 0 0 0; color: #fff"
                href="/praxis"
                class="tm-btn big linelight"
              >
                Mehr zur Praxis
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Quote section -->
<div class="tm-row" style="padding: 50px 0; background: #fbf6ab">
  <div class="tm-wrap">
    <p
      style="
        color: #4d555a;
        font-family: 'Karma', serif;
        font-size: 24px;
        text-align: center;
      "
    >
      »Es kommt darauf an, den Körper mit der Seele und die Seele
      durch den Körper zu heilen.«<br />
    </p>
    <p style="float: right">
      ------------------------ Oscar Wilde (1854 - 1900)
    </p>
  </div>
</div>

<!-- Services detailed -->
<div class="tm-row" style="margin: -80px 0 0 0">
  <div class="tm-wrap">
    <div class="one-third tm-animate slide-from-left">
      <div style="padding-top: 100px">
        <ul class="tm-iconlist tm-style1">
          <li>
            <div class="iconlist-icon">
              <p style="font-size: 28px; line-height: 60px"></p>
              <strong>1.</strong>
            </div>
            <div class="iconlist-entry">
              <div class="iconlist-container">
                <h3>OSTEOPATHIE</h3>
                <div class="iconlist-content">
                  <p>
                    In der Osteopathie behandelt man nur mit Hilfe
                    seiner Hände und dem Wissen über Anatomie und
                    Physiologie den Menschen und möchte so die
                    selbstregulierenden Mechanismen des Körpers
                    aktivieren und wieder herstellen.
                  </p>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="iconlist-icon">
              <p style="font-size: 28px; line-height: 60px"></p>
              <strong>2.</strong>
            </div>
            <div class="iconlist-entry">
              <div class="iconlist-container">
                <h3>PHYSIOTHERAPIE</h3>
                <div class="iconlist-content">
                  <p>
                    Physiotherapie umfasst die Manuelle Therapie/CMD,
                    Krankengymnastik, Massagen, Manuelle
                    Lymphdrainage, Kinesio-Tape, spez.
                    Schmerzphysiotherapie, Faszientherapie.
                  </p>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="one-third tm-animate slide-from-left">
      <div style="text-align: center">
        <img alt="img" src="/assets/img/body.png" />
      </div>
    </div>
    <div class="one-third last">
      <div style="padding-top: 100px">
        <ul class="tm-iconlist tm-style1">
          <li>
            <div class="iconlist-icon">
              <p style="font-size: 28px; line-height: 60px"></p>
              <strong>3.</strong>
            </div>
            <div class="iconlist-entry">
              <div class="iconlist-container">
                <h3>Psychotherapie</h3>
                <div class="iconlist-content">
                  <p>
                    Psychotherapie bedeutet wörtlich übersetzt die
                    Behandlung der Seele beziehungsweise von
                    seelischen Problemen. Da Körper und Seele
                    funktionell nicht zu trennen sind, kann dies auch
                    bedeuten, dass Psychotherapie in bestimmten Fällen
                    bei körperlichen Schmerzen eingesetzt werden kann.
                    Zum Beispiel kann innere Anspannung, Stress, Wut,
                    Trauer o.ä. zu körperlichen Auswirkungen führen.
                    Oder dauerhafter Schmerz zu seelischen.<br /><br />
                    <strong>Wichtig:</strong> <br />
                    Alle Psychotherapeutischen Sitzungen sind bei uns
                    private Leistungen und werden nur in Ausnahmen von
                    der gesetzlichen Krankenkasse bezuschusst.
                  </p>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Team section -->
<div class="tm-row setanimate visible" style="padding: 40px 0 40px; text-align: center">
  <div class="tm-wrap">
    <div class="header-line-center-bottom" style="margin-bottom: 30px">
      <h1>Die Praxisgemeinschaft</h1>
    </div>
    
    {% for member in team %}
      {% if loop.index0 % 3 == 0 %}
        {% if loop.index0 > 0 %}</div></div><div class="tm-row setanimate visible" style="padding: 40px 0 40px; text-align: center"><div class="tm-wrap">{% endif %}
      {% endif %}
      
      {% set isLast = (loop.index % 3 == 0) or loop.last %}
      {% include "partials/team-member.njk" %}
    {% endfor %}
  </div>
</div>
