<div id="layerslider" style="height: 530px">
  <div class="ls-slide" data-ls="slidedelay:8000;transition2d:75,79;">
    <img
      src="/assets/img/ganzheitliche_behandlung.jpg"
      class="ls-bg"
      alt="ganzheitliche Behandlung: Bild von einer Massage"
    />

    <img
      class="ls-l"
      style="top: 0; right: 550px; white-space: nowrap"
      data-ls="offsetxin:0;durationin:1000;delayin:100;easingin:easeInOutExpo;rotatexin:20;scalexin:0.8;scaleyin:0.8;transformoriginin:50% 50% -150;offsetxout:0;durationout:1000;rotatexout:-20;scalexout:0.8;scaleyout:0.8;transformoriginout:50% 50% -150;"
      src="/assets/img/behandlung_humanus.png"
      alt=""
    />

    <img
      class="ls-l"
      style="top: 420px; left: 0px; white-space: nowrap"
      data-ls="offsetxin:200;delayin:950;durationin:1000;offsetxout:200;"
      src="/assets/img/callus.png"
      alt=""
    />

    <p
      class="ls-l"
      style="
        top: 85px;
        left: 550px;
        font-family: 'Karma', serif;
        font-size: 25px;
        color: #4d555a;
        white-space: nowrap;
      "
      data-ls="offsetxin:50;durationin:750;easingin:easeOutBack;skewxin:-50;offsetxout:-50;durationout:600;"
    >
      Praxis für
    </p>

    <p
      class="ls-l"
      style="
        top: 130px;
        left: 550px;
        font-family: 'Karma', serif;
        font-size: 45px;
        font-weight: bold;
        color: #4d555a;
        white-space: nowrap;
        line-height: 55px;
      "
      data-ls="offsetxin:-100;durationin:750;delayin:250;easingin:easeOutBack;skewxin:-50;offsetxout:100;durationout:600;"
    >
      Osteopathie, Physiotherapie <br />und Psychotherapie
    </p>

    <p
      class="ls-l"
      style="
        top: 250px;
        left: 550px;
        font-family: 'Karma', serif;
        font-size: 14px;
        color: #4d555a;
        width: 450px;
        line-height: 24px;
      "
      data-ls="offsetxin:-150;durationin:750;easingin:easeOutBack;skewxin:-50;delayin:450;offsetxout:-50;durationout:600;"
    ></p>

    <a
      href="/praxis.html"
      class="tm-btn big linelight ls-l"
      style="top: 260px; left: 550px; white-space: nowrap"
      data-ls="offsetxin:0;rotatexin:-70;scalexin:3;scaleyin:3;offsetxout:0;durationout:1000;"
      >mehr erfahren ›</a
    >
    <p
      class="ls-l"
      style="
        top: 350px;
        left: 550px;
        font-family: 'Karma', serif;
        font-size: 20px;
        font-weight: normal;
        color: #4d555a;
        white-space: nowrap;
      "
      data-ls="offsetxin:-100;durationin:750;delayin:300;easingin:easeOutBack;skewxin:-50;offsetxout:100;durationout:600;"
    >
      <span style="font-weight: bold">Termine nach Vereinbarung</span>
      <br />
      Telefonisch erreichbar: <br />
      Montag und Mittwoch: 8.00-12.00 und 16.00-18.00 Uhr <br />
      Dienstag und Donnerstag: 8.00-12.00 und 13.00-15.30 Uhr<br />
      Freitag: 8.00-11.30 Uhr
    </p>
  </div>
</div>
